.active > .text{
    display: block !important;
}
.temp-info{
    border-right: 1px solid #d4d4d4;

    color: #444;
    z-index: 10;
    /*box-shadow: 4px 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px 4px #ccc;
    -moz-box-shadow: 4px 4px 4px #ccc;*/
}
.temp-img{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 1px solid #d4d4d4;
    cursor: pointer;
}
.temp-detail{
    padding-top: 15px;
    padding-bottom: 15px;

}
.baike-warp .form-control-static {
	font: 16px/20px "Microsoft YaHei";
	color: #999;
}
.baike-warp .form-control-static span {
	color: #414141;
}
.page-header ul.page-header-tabs>li {
	border-radius: 0px;
}
.page-header.page-header-xs ul.page-header-tabs {
    margin-top: -19px;
    position: absolute;
}
.page-header.dark ul.page-header-tabs>li.active:hover, .page-header ul.page-header-tabs>li.active {
    border: rgba(0,0,0,0.1) 1px solid;
    border-bottom: 0px;
    padding: 0 10px;
}
.page-header ul.page-header-tabs>li>a {
	font-size: 18px;
}
.page-header ul.page-header-tabs>li.active>a {
	color: #179BD7;
}
.tab-pane-item-title em{
	float: left;
    width: 24px;
    height: 24px;
    font: 16px/24px "Microsoft YaHei";
    text-align: center;
    color: #FFF;
    font-style: normal;
    border-radius: 3px;
    background: #179BD7;
    margin: 4px 5px 0 0;
}
.tab-pane-item-title h2{
	float: left;
    margin-bottom: 10px;
    font-size: 20px;
}
.tab-pane-item-title a {
	float: right;
	font-style: 16px;
	line-height: 45px;
	color: #179BD7
}
.tab-pane-item-content {
    font: 16px/26px "Microsoft YaHei";
}
.pane-right-item {
	color: #111;
	font-size: 16px;
	padding-bottom: 25px;
}
.pane-right-item h3 {
	font-size: 20px;
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 10px;
    margin-bottom: 10px;
}
.pane-right-item em {
	color: #179BD7;
	font-style: normal;
}
.pane-right-item span {
	color: #999;
}
.item-catalog.affix-top {
	position: fixed;
	top: 63px;
}
.pane-right-item.item-catalog h3 {
	border-bottom: 0px;
}
.item-catalog ul {
	list-style-type: none;
    padding-left: 20px;
}
.item-catalog ul li {
	// padding: 5px 15px;
	border-left: 1px solid #fff;
}
.item-catalog ul li a {
	color: #111;
	padding: 5px 15px;
}
.item-catalog ul li.active,
.item-catalog ul li:hover {
	border-left: 1px solid #179BD7;
	background-color: transparent;
}
.item-catalog ul li.active a,
.item-catalog ul li:hover a {
	color: #179BD7;
	background-color: transparent;
}

